<!DOCTYPE html>
<html>
<head>

 <script type="text/javascript" src="/face/lib/Bootstrap/bootstrap.js"></script>
<link rel="stylesheet" href="/face/lib/Bootstrap/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    
  <script src="/face/js/app.js"></script>
   <script src="/face/js/blog.js"></script>
  </head>
 <body onload="preventBack();">
<div ng-app="myApp" ng-controller="locationCtrl">


	<div ng-include="'/face/common/header.html'"></div>
	<div class="container" style="margin-left: 6cm;padding-top: 50px;" ng-app="myApp" ng-controller="myCtrl1">
	<h1>BLOG</h1>
    <form ng-submit="create(sparam)" class="form-horizontal" id="a">
       BlogName:
    <input type="text"  placeholder="BlogName" name="blogName" ng-model="blog.blogName" autofocus>
    
    BlogDescription:
  <input type="text"  placeholder="BlogDescription" name="blogDescription" ng-model="blog.blogDescription">
  <br/>
  
  BlogData:
  <br/>
  <textarea rows="15" cols="80"  placeholder="BlogData" name="blogData"  ng-model="blog.blogData" ></textarea>
  <br/>
   
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</div>
</body>


</html>